<h2>Medicine</h2>
<form class="form mb-4 col-md-6" [formGroup] = "argumentForm" (ngSubmit) = "search()">
        <div class="form-group">
            <input type="text" [(ngModel)] = "selectedMedicine" placeholder="Select Medicine" class="form-control searchName dropdown-toggle" 
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (keyup) = "searchByName()" formControlName = "idProduct"/>
            <div class="dropdown-menu"  aria-labelledby="myInputId">
              <ng-container *ngFor="let medicine of medicines">
                <a class="dropdown-item" (click)="select(medicine)">{{medicine.name}}</a>
              </ng-container>
            </div>
          </div>

    <div class="inline">
        <div class="form-group">
            <label for="fromDate">From&nbsp;&nbsp;&nbsp;</label>
            <input type="datetime-local" class="form-control" id="fromDate" formControlName = "fromDate"/>
        </div>

        <div class="form-group">
            <label for="toDate">To&nbsp;&nbsp;&nbsp;</label>
            <input type="datetime-local" class="form-control" id="toDate" formControlName = "toDate"/>
        </div>
    </div>
      <input type="submit" class="btn btn-primary" value="search">
</form>
<table class="table-striped table-hover table ">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Price Buy</th>
            <th>Price Sell</th>
            <th>Profit</th>
        </tr>
        
    </thead>
    
    <ng-container *ngFor="let statisticalMedicine of statisticalMedicines">
        <tr >
            <td>{{statisticalMedicine.nameMedicine}}</td>
            <td>{{statisticalMedicine.quantity}}</td>
            <td>{{statisticalMedicine.priceBuy}}</td>
            <td>{{statisticalMedicine.priceSell}}</td>
            <td>{{statisticalMedicine.priceSell - statisticalMedicine.priceBuy}}</td>
        </tr>
    </ng-container>
</table>