.login-invalid{
    color:red;
}

.invalid{
    color:red;
}

#verify-form {
    max-width: 240px;
    margin: 25px auto 0;
}
#verify-form input {
    margin: 0 5px;
    text-align: center;
    line-height: 80px;
    font-size: 50px;
    border: solid 1px #ccc;
    box-shadow: 0 0 5px #ccc inset;
    outline: none;
    width: 20%;
    transition: all .2s ease-in-out;
    border-radius: 3px;
}
#verify-form input:focus{
    border-color: purple;
          box-shadow: 0 0 5px purple inset;
}
#verify-form button{
    margin:  30px 0 50px;
    width: 100%;
    padding: 6px;
    background-color: #B85FC6;
    border: none;
    text-transform: uppercase;
}

.loader {
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid green;
    border-bottom: 3px solid green;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .btn-login{
    height: 40px;
    width: 100px;
    margin-top: 5px;
  }

  .slide-sub-title{
    font-size: 50px;
    text-shadow: grey 2px 2px 2px;
  }

  .seminar-item{
    margin-top: 250px;
  }

  .slider-description {
    font-size: 30px;
    color: #3d3fbd;
    font-weight: 500;
  }

  .my-member-post{
    border-top: 1px solid #f3f3f3;
  }

  .my-member-name{
    height: 70px;
  }

  .img-responsive-x{
    height: 200px;
    margin: 0 auto;
  }

  .education-area p{
    color:white;
  }

  .comments a{
    cursor: pointer;
  }