<section id="slider" class="">
    <!-- Carousel -->
    <div id="main-slide" class="carousel slide" data-ride="carousel">
  
      <!-- Indicators -->
      <ol class="carousel-indicators visible-lg visible-md">
          <li data-target="#main-slide" data-slide-to="0" class="active"></li>
         <li data-target="#main-slide" data-slide-to="1"></li>
         <li data-target="#main-slide" data-slide-to="2"></li>
      </ol><!--/ Indicators end-->
  
      <!-- Carousel inner -->
      <div class="carousel-inner">
        <div class="item active" style="background-image:url(../../../../assets/images/business.png)">
              <div class="slider-content text-left">
                 <div class="col-md-12">
                    <br>
                     <h3 class="slide-sub-title effect3">BUSINESS APPLICATION</h3>
                     <p class="slider-description lead effect3">We deals with the supply of medicine or scentific machine.</p>
                     <p class="effect3">
                      <a routerLink = "/scientific" class="slider btn btn-primary">Try Our Service</a>
                     </p>      
                 </div>
              </div>
         </div><!--/ Carousel item 1 end -->
  
  
        <div class="item" style="background-image:url(../../../../assets/images/seminar.png)">
              <div class="slider-content seminar-item">
                 <div class="col-md-12 text-center">
                     <h3 class="slide-sub-title effect3">SEMINAR PROVIDER APPLICATION</h3>
                     <p class="slider-description lead effect3">Thousands of population seminar in the world.</p>
                     <p>
                      <a routerLink="/seminar" class="slider btn btn-primary">Details</a>
                     </p>      
                 </div>
              </div>
         </div><!--/ Carousel item 2 end -->
  
  
         <div class="item" style="background-image:url(../../../../assets/images/lecture.jpg)">
              <div class="slider-content text-right mt-5">
                 <div class="col-md-12 education-area">
                  <h3 class="slide-sub-title effect3">EDUCATION APPLICATION</h3>
                  <p class="slider-description lead effect3">Updating knowledge every day.</p>
                  <p class="slider-description lead effect3">Lots of attractive lecture and practical.</p>
                      <a routerLink="/lecture" class="slider btn btn-primary border">Know More</a>
                 </div>
              </div>
          </div><!--/ Carousel item 3 end -->
          
      </div><!-- Carousel inner end-->
  
      <!-- Controllers -->
      <a class="left carousel-control" href="#main-slide" data-slide="prev">
          <span><i class="fa fa-angle-left"></i></span>
      </a>
      <a class="right carousel-control" href="#main-slide" data-slide="next">
          <span><i class="fa fa-angle-right"></i></span>
      </a>
    </div><!--/ Carousel end -->
  </section>
  <section id="section1" class="section-margine">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="section-1-box wow bounceIn">
            <div class="section-1-box-icon-background"><i class="fa fa-ambulance fa-2x"></i></div>
            <h4 class="text-center">Emergency Servies</h4>
            <p class="text-center">Our teenager team are always ready to serve every urgent situation.</p>
            <p class="text-center">Hotline: 1900 115115</p>
          </div>
        </div>
        <div class="col-md-3  col-sm-6">
          <div class="section-1-box wow bounceIn" data-wow-delay=".1s">
            <div class="section-1-box-icon-background"><i class="fa fa-user-md fa-2x"></i></div>
            <h4 class="text-center">Professional Staffs</h4>
            <p class="text-center">Our staff with big experience in research new technical of medical</p>
          </div>
        </div>
        <div class="col-md-3  col-sm-6">
          <div class="section-1-box wow bounceIn" data-wow-delay=".2s">
            <div class="section-1-box-icon-background"><i class="fa fa-h-square fa-2x"></i></div>
            <h4 class="text-center">Misson</h4>
            <p class="text-center">With the hope of discovery new research in medicine,machine, medical equipment and spread it widely in the world</p>
          </div>
        </div>
        <div class="col-md-3  col-sm-6">
          <div class="section-1-box wow bounceIn" data-wow-delay=".3s">
            <div class="section-1-box-icon-background"><i class="fa fa fa-heartbeat fa-2x"></i></div>
            <h4 class="text-center">Heart Surgery Charity</h4>
            <p class="text-center">It's our nonprofit organization that brings children from around the world for free surgery to correct life-threatening congenital heart defects.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="section4" class="section-4 section-margine">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <header class="title-head">
            <h2>Outstanding Achievement</h2>
            <p>This's our new productions researching in recently.</p>
            <div class="line-heading">
              <span class="line-left"></span>
              <span class="line-middle">+</span>
              <span class="line-right"></span>
            </div>
          </header>
        </div>
        <div class="col-md-4 col-sm-6 right wow fadeInUp">
          <ul class="section">
            <li class="left"><i class="fa fa-medkit"></i></li>
            <li><strong>Dental Implant Systems</strong> 
              <p>Dental Implant System is a set of certified medical devices that are used to anchor a denture or replace missing teeth by professional dentists. An implant system consists of different types of dental implants, different dental superstructures, and implant instruments.</p>
              <a href="#" class="btn btn-primary btn-sm">Buy now</a>
            </li>
           
          </ul>
          <ul class="section two">
            <li class="left"><i class="fa fa-stethoscope"></i></li>
            <li><strong>New equipment aims to make surgery safer</strong> 
              <p>A new device called LaparoGuard. It allows surgeons to identify and create a safe zone that the surgeon must stay within during laparoscopic procedures.</p>
        
              <a href="#" class="btn btn-primary btn-sm">Buy Now</a>
          </ul>
        </div>
        <div class="col-md-4 hidden-sm hidden-xs left wow fadeInUp" data-wow-delay=".2s"><img alt="" src="../../../../assets/images/achievement.jpg"></div>
        <!-- end left -->
        <div class="col-md-4 col-sm-6 right wow fadeInUp" data-wow-delay=".3s">
          <ul class="section three">
            <li class="left"><i class="fa fa-user-md"></i></li>
            <li><strong>Hepatitis B treatment for people with HIV</strong> 
              <p>Treatments are available if your immune system does not naturally clear hepatitis B infection. The aims of hepatitis B treatment include stopping hepatitis B virus replication, reducing liver inflammation, and lowering the risk of developing cirrhosis or liver cancer</p> 
              <a href="#" class="btn btn-primary btn-sm">Buy Now</a>
            </li>
          </ul>
          <ul class="section four">
            <li class="left"><i class="fa fa-unlink"></i></li>
            <li><strong>New drug for heart failure</strong> 
              <p>nvestigational heart medication, reduced the risk of heart failure-related events in patients with heart failure with reduced ejection fraction.</p>
              <a href="#" class="btn btn-primary btn-sm">Know More</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  
  <section  id="section5" class="section-5 section-margine">
    <div class="container">
      <div class="row my-team">
        <div class="col-md-12">
          <header class="title-head">
            <h2>Top Documentations</h2>
            <p>We storage many of documents in medical field that you can find and learn it online in this site.We also provide you the quiz after each lecture to evaluate your knowledge.</p>
            <div class="line-heading">
              <span class="line-left"></span>
              <span class="line-middle">+</span>
              <span class="line-right"></span>
            </div>
          </header>
        </div>
        <div class="col-md-3 col-sm-6 my-team-member wow fadeInUp" *ngFor="let lec of lectures">
          <div class="my-member-img">
            <img src="../../../../assets/images/lession.jpg" class="img-responsive" alt="team01">
          </div>
          <div class="my-team-detail text-center">
            <h4 class="my-member-name">{{ lec.name }}</h4>
            <a  routerLink="/lecture/learn/{{ lec.id }}" ><p class="my-member-post">Read more</p></a>
          </div>        
        </div>
      </div>
    </div>
  </section>

  <section id="section14" class="section-margine">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <header class="title-head">
            <h2>Upcoming Seminars</h2>
            <p>There're many attractive upcoming seminars wating for you !</p>
            <div class="line-heading">
              <span class="line-left"></span>
              <span class="line-middle">+</span>
              <span class="line-right"></span>
            </div>
          </header>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-lg-4 text-center">
          <div class="section-14-box wow fadeInUp">
            <img [src]="seminars[0]?.poster" class="img-responsive-x" alt="Blog image 1">
            <h3><a  routerLink="/seminar/details/{{ seminars[0]?.id }}">{{ seminars[0]?.title }}</a></h3>
            <div class="row">
              <div class="col-md-12 col-lg-12">
                <div class="comments">
                  <a class="btn btn-primary btn-sm" >{{ seminars[0]?.startAt | date:'short' }}</a>
                  <a class="btn btn-primary btn-sm" routerLink="/seminar/details/{{ seminars[0]?.id }}">Register Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-4 text-center">
          <div class="section-14-box wow fadeInUp" data-wow-delay=".2s">
            <h3><a routerLink="/seminar/details/{{ seminars[1]?.id }}">{{ seminars[1]?.title }}</a></h3>
            <div class="row">
              <div class="col-lg-12">
                <div class="comments">
                  <a class="btn btn-primary btn-sm">{{ seminars[1]?.startAt | date:'short' }}</a>
                  <a routerLink="/seminar/details/{{ seminars[1]?.id }}" class="btn btn-primary btn-sm">Register Now</a>
                </div>
              </div>
            </div>
            <img [src]="seminars[1]?.poster" class="img-responsive-x" alt="Blog image 1">
          </div>
        </div>
        <div class="col-md-4 col-lg-4 text-center">
          <div class="section-14-box wow fadeInUp" data-wow-delay=".3s">
            <img [src]="seminars[2]?.poster" class="img-responsive-x" alt="Blog image 1">
            <h3><a routerLink="/seminar/details/{{ seminars[2]?.id }}">{{ seminars[2]?.title }}</a></h3>
            <div class="row">
              <div class="col-md-12 col-lg-12">
                <div class="comments">
                  <a class="btn btn-primary btn-sm">{{ seminars[2]?.startAt | date:'short' }}</a>
                  <a routerLink="/seminar/details/{{ seminars[2]?.id }}" class="btn btn-primary btn-sm">Register Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  


  <section id="section9" class="section-9-background">
    <div class="container">
      <div class="col-md-12 col-lg-12">
        <header class="title-head">
          <h2>Famous brand suggestion</h2>
          <div class="line-heading">
            <span class="line-left"></span>
            <span class="line-middle">+</span>
            <span class="line-right"></span>
          </div>
        </header>
      </div>
      <div class="row">
        <div class="col-md-2 col-sm-4 col-xs-6"><img src="assets/images/clients/1.jpg" class="img-responsive wow fadeInUp" alt=""></div>
        <div class="col-md-2 col-sm-4 col-xs-6"><img src="assets/images/clients/2.png" class="img-responsive wow fadeInUp" alt=""></div>
        <div class="col-md-2 col-sm-4 col-xs-6"><img src="assets/images/clients/3.png" class="img-responsive wow fadeInUp" alt=""></div>
        <div class="col-md-2 col-sm-4 col-xs-6"><img src="assets/images/clients/4.jpg" class="img-responsive wow fadeInUp" alt=""></div>
        <div class="col-md-2 col-sm-4 col-xs-6"><img src="assets/images/clients/5.png" class="img-responsive wow fadeInUp" alt=""></div>
        <div class="col-md-2 col-sm-4 col-xs-6"><img src="assets/images/clients/6.png" class="img-responsive wow fadeInUp" alt=""></div>
      </div>
    </div>
  </section>
  <section id="section23" class="appointment">
    <div class="modal fade" id="appointment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog style-one" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Make an Appoinment</h4>
          </div>
          <div class="modal-body">
            <div class="appoinment-form-outer">
              <form action="" method="post">
                <h4>Fill Up Appointment Form.</h4>
                  <div class="form-group">
                    <label>Name <span class="required">*</span></label>
                    <input type="text" class="form-control" required="" placeholder="First Name" value="" name="name">
                  </div>
                  <div class="form-group">
                    <label>Email <span class="required">*</span></label>
                    <input type="email" class="form-control" required="" placeholder="Email" value="" name="name">
                  </div>
                  <div class="form-group">
                    <label>Phone <span class="required">*</span></label>
                    <input type="text" class="form-control" required="" placeholder="Phone" value="" name="name">
                  </div>
                  <div class="form-group">
                    <label>Age <span class="required">*</span></label>
                    <input type="text" class="form-control" required="" placeholder="age" value="" name="name">
                  </div>
                  <div class="form-group">
                    <label>Appoinment Date <span class="required">*</span></label>
                    <input class="datepicker form-control" type="text" required="" placeholder="MM/DD/Year" value="" name="name">
                  </div>
                  <div class="form-group">
                    <label>Time<span class="required">*</span></label>
                    <input type="text"  class="timepicker form-control" required="" placeholder="Time" value="" name="name">
                  </div>
                  <div class="form-group">
                    <label>Address <span class="required">*</span></label>
                    <input type="text" class="form-control" required="" placeholder="Address" value="" name="name">
                  </div>
                  <div class="text-left">
                    <button type="button" class="btn btn-primary">Send Message</button>
                  </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  