<section id="inner-title" class="inner-title">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-6"><h2>Services</h2></div>
        <div class="col-md-6 col-lg-6">
          <div class="breadcrumbs">
            <ul>
              <li>Current Page:</li>
              <li><a href="index.html">Home</a></li>
              <li><a href="">Services</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>      
  <section id="section4" class="section-margine">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-lg-4">
          <div class="section-4-box wow fadeIn">
            <div class="section-4-box-icon-cont"><i class="fa fa-wheelchair fa-2x"></i></div>
            <div class="section-4-box-text-cont">
              <h5>Acupuncture</h5>
              <p>Using many font styles can slow down your webpage, so only select thefont styles that you</p>
            </div>
          </div>
          <div class="section-4-box wow fadeIn" data-wow-delay=".1s">
            <div class="section-4-box-icon-cont"><i class="fa fa-medkit fa-2x"></i></div>
            <div class="section-4-box-text-cont">
              <h5>Breast Care</h5>
              <p>Using many font styles can slow down your webpage, so only select thefont styles that you</p>
            </div>
          </div>
          <div class="section-4-box wow fadeIn" data-wow-delay=".2s">
            <div class="section-4-box-icon-cont"><i class="fa fa-stethoscope fa-2x"></i></div>
            <div class="section-4-box-text-cont">
              <h5>Cardiac Surgery</h5>
              <p>Using many font styles can slow down your webpage, so only select thefont styles that you</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-4"><img src="assets/images/s2.png" class="img-responsive wow zoomIn" alt=""></div>
        <div class="col-md-4 col-lg-4">
          <div class="section-4-box wow fadeIn">
            <div class="section-4-box-icon-cont"><i class="fa fa-plus-square fa-2x"></i></div>
            <div class="section-4-box-text-cont">
              <h5>Dermatology</h5>
              <p>Using many font styles can slow down your webpage, so only select thefont styles that you</p>
            </div>
          </div>
          <div class="section-4-box wow fadeIn" data-wow-delay=".1s">
            <div class="section-4-box-icon-cont"><i class="fa fa-heartbeat fa-2x"></i></div>
            <div class="section-4-box-text-cont">
              <h5>Lungs</h5>
              <p>Using many font styles can slow down your webpage, so only select thefont styles that you</p>
            </div>
          </div>
          <div class="section-4-box wow fadeIn" data-wow-delay=".2s">
            <div class="section-4-box-icon-cont"><i class="fa fa-wheelchair-alt fa-2x"></i></div>
            <div class="section-4-box-text-cont">
              <h5>Elder Services</h5>
              <p>Using many font styles can slow down your webpage, so only select thefont styles that you</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="section22" class="section22">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-lg-7">
          <div class="section-22-box-text-cont">
            <h2>Medical Services For Customer Services</h2>
            <h5>Mauris tempor ligula non lacus ornare consectetur.</h5>
            <p>Impreza supports horizontal parallax backgrounds depending on cursor movement, and it also works on mobile devices depending on its position.</p>
          </div>
        </div>
        <div class="col-md-5 col-lg-5"><div class="section-5-box-text-cont wow fadeInLeft"><img src="assets/images/s1.jpg" class="img-responsive" alt=""></div></div>
      </div>
    </div>
  </section>
  <section id="section11" class="section-margine">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-lg-3">
          <div class="section-11-box">
            <div class="section-11-box-icon-background"><i class="fa fa-medkit fa-2x"></i></div>
            <h4 class="text-center">Family Medicine</h4>
            <p class="text-center">Using many font styles canslow down your webpage, so only select the font styles that you</p>
          </div>
        </div>
        <div class="col-md-3 col-lg-3">
          <div class="section-11-box">
            <div class="section-11-box-icon-background"><i class="fa fa-hospital-o fa-2x"></i></div>
            <h4 class="text-center">Geriatrics</h4>
            <p class="text-center">Using many font styles canslow down your webpage, so only select the font styles that you</p>
          </div>
        </div>
        <div class="col-md-3 col-lg-3">
          <div class="section-11-box">
            <div class="section-11-box-icon-background"><i class="fa fa-plus-square fa-2x"></i></div>
            <h4 class="text-center">Home Care</h4>
            <p class="text-center">Using many font styles canslow down your webpage, so only select the font styles that you</p>
          </div>
        </div>
        <div class="col-md-3 col-lg-3">
          <div class="section-11-box">
            <div class="section-11-box-icon-background"><i class="fa fa-wheelchair fa-2x"></i></div>
            <h4 class="text-center">Infusion Therapy</h4>
            <p class="text-center">Using many font styles canslow down your webpage, so only select the font styles that you</p>
          </div>
        </div>
        <div class="col-md-3 col-lg-3">
          <div class="section-11-box">
            <div class="section-11-box-icon-background"><i class="fa fa-stethoscope fa-2x"></i></div>
            <h4 class="text-center">Joints</h4>
            <p class="text-center">Using many font styles canslow down your webpage, so only select the font styles that you</p>
          </div>
        </div>
        <div class="col-md-3 col-lg-3">
          <div class="section-11-box">
            <div class="section-11-box-icon-background"><i class="fa fa-user-md fa-2x"></i></div>
            <h4 class="text-center">Sleep Medicine</h4>
            <p class="text-center">Using many font styles canslow down your webpage, so only select the font styles that you</p>
          </div>
        </div>
        <div class="col-md-3 col-lg-3">
          <div class="section-11-box">
            <div class="section-11-box-icon-background"><i class="fa fa-heartbeat fa-2x"></i></div>
            <h4 class="text-center">Tobacco Treatment</h4>
            <p class="text-center">Using many font styles canslow down your webpage, so only select the font styles that you</p>
          </div>
        </div>
        <div class="col-md-3 col-lg-3">
          <div class="section-11-box">
            <div class="section-11-box-icon-background"><i class="fa fa-ambulance fa-2x"></i></div>
            <h4 class="text-center">Urgent Care</h4>
            <p class="text-center">Using many font styles canslow down your webpage, so only select the font styles that you</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="section10" class="section-10-background section-margine">
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-lg-9">
          <div class="section-10-box-text-cont">
            <h3>Medicamp  HTML Template. Buy this theme.</h3>
  
          </div>
        </div>
        <div class="col-md-3 col-lg-3">
          <div class="section-10-btn-cont"><a href="#" class="btn btn-secondary">Get Started!</a></div>
        </div>
      </div>
    </div>
  </section>