<div class="wrapper">
    <a [routerLink]="['/admin/lecture/quiz']"><button class="btn btn-light"><i class="fas fa-arrow-circle-left"></i> Back</button></a>
    <div class="alert alert-danger alert-dismissible" *ngIf="errorNotify">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Error!</strong> Some thing went wrong. Try again !
    </div>
    <h1>Upgrade Quiz</h1>
    <hr>
    <div class="content">
        <form  (ngSubmit)="updateQuiz(newQuizForm)" #newQuizForm="ngForm">
            <div class="form-group">
                <i class="fas fa-search"></i>&nbsp;Lecture:
               <input type="text" class="form-control form-search" placeholder="Enter your lecture name" name="term" (keyup)="onSearchChange($event)">
               <i> {{ searchTotalResult }} result was found:</i>
                <select name="lectureid" class="form-control" ngModel [(ngModel)]='lectureSelected'>
                    <option [value]="questionsDefault.lectureid" >{{ questionsDefault.lecture_name }}</option>
                    <option [value]="lecture.id" *ngFor="let lecture of lectures">{{ lecture.name }}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Level: </label>
                <select name="levelid" class="form-control" ngModel [(ngModel)]="levelSelected" required>
                    <option value="1">Easy</option>
                    <option value="2">Medium</option>
                    <option value="3">Hard</option>
                </select>
            </div>
            <div class="form-group">
                <label for="recipient-name" class="col-form-label">Duration<i>(minutes)</i>:</label>
                <input type="number" class="form-control" name="duration" ngModel [value]="questionsDefault.duration" required>
            </div>
            <hr>
            <div id="question-container">
                <div class="question-item" *ngFor="let question of questionsDefault.questions">
                    <p>Question:</p>
                    <input type="hidden" name="questionid" [value]="question.id">
                    <input type="text" class="form-control" name="question" [value]="question.name">
                    <p>Answers:</p>
                    <div id="answer-wrapper">
                        <div class="row answer" *ngFor="let answer of question.answers">
                            <div class="col-sm-1">
                                <input type="hidden" name="answerid" [value]="answer.id">
                                <input type="checkbox" class="form-control"  name="iscorrect" [checked]="answer.iscorrect">
                            </div>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="answer"  [value]="answer.content">
                            </div>
                        </div>
                       
                    </div>
                    <hr>
                </div>
            </div>
         
            <div class="right-w3l text-center">
                <button type="submit" class="btn btn-primary"><i class="far fa-save"></i>&nbsp;Save</button>
                <div class="loader" *ngIf="loading"></div>
            </div>
        </form>
    </div>
</div>
