<div class="container lecture-container">
    <h1>Lectures</h1>
    <b>Category:&nbsp;</b>
    <select name="cateid" class="mb-5" (change)="filterLecture($event)">
      <option value="all">All</option>
      <option [value]="cate.id" *ngFor="let cate of categories">{{ cate.name }}</option>
    </select>
    <div class="no-lecture" *ngIf="lectures.length==0">
      <p><i>There's no lecture for this category.</i></p>
    </div>
    <div class="card" *ngFor="let lec of lectures">
        <div class="card-body">
          <h2 class="card-title">{{ lec.name }}</h2>
          <p class="card-text">{{ lec.sumary }}</p>
          <a routerLink="/lecture/learn/{{ lec.id }}" class="card-link btn btn-outline-primary">Learn</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>

    <!-- pagination -->
    <div class="pagination-wrapper" *ngIf="dislayPagination">
      <button class="btn btn-secondary btn-custom " (click)="getFirstData()">First</button>
      <ul class="pagination" *ngFor="let ele of paginateRange">
          <li><span (click)="getPaginationData($event)" [class]=" ele == page ? 'active':''">{{ ele }}</span></li>
      </ul>
      <button class="btn btn-secondary btn-custom" (click)="getLastData()">Last</button>
  </div>
</div>