.btn-admin-logout{
    cursor: pointer;
}
.admin-info p{
    margin-bottom: 0px;
}
.admin-info{
    align-items: center;
    float:right;
}
.admin-item-info{
    margin-right: 30px;
}
ul{
    text-decoration: none;
    list-style: none;
}
.admin-account-menu li{
    margin-bottom: 10px;
    font-size: 15px;
}
