
@import url('assets/css/light-bootstrap-dashboard.css');
@import url('../../../node_modules/font-awesome/css/font-awesome.css');
.card-header{
    height: 45px;
}
.setting-icon{
    font-size: 20px;
}
.fas-key{
    margin-right: 10px;
}