<div class="container">
    <div class="row">
        <div class="col-md-3 col-lg-3"></div>
        <div class="col-md-5 col-lg-5">
            <div class="form-group">
              <input type="text" class="form-control" [(ngModel)]="keyword" placeholder="Name Product" >
            </div>
          </div>
        
          <div class="col-md-1 col-lg-1">
            <button style="font-size: 15px;" type="submit" class="btn btn-success" (click)="searchkey()">Search</button>
          </div>
          <div class="col-md-3 col-lg-3"></div>
    </div>
</div>
<br>


<h3 class="title">Medicine management</h3>
<button class="button-add-staff" [routerLink]="['/admin/addmedicineapp']"><span>Add</span></button>




<table class="table-striped table-hover table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Ilustration</th>
            <th>dateOfManufacture</th>
            <th>expiry</th>
            <th>status</th>
            <th>Options</th>
        </tr>
        
    </thead>
    <tr *ngFor="let p of medicine | paginate:{itemsPerPage:5,currentPage:p}">
        <td>{{p.id}}</td>
      <td>{{p.name}}</td>
      <td>
        <img src="https://localhost:5001/Image/{{p.illustration}}" width="120" height="100">
      </td> 
    
      <td>{{p.dateOfManufacture}}</td> 
      <td>{{p.expiry}}</td> 
      <td>
         {{p.status}}
      </td> 
        <td>
            <button class="btn btn-primary" [routerLink]="['/admin/medicinedetail',{id:p.id}]"><i class="fas fa-pen">Detail</i></button>
            <button class="btn btn-success" [routerLink]="['/admin/updatemedicineapp',{id:p.id}]"><i class="fas fa-link attach-icon">Update</i></button>
        </td>
    </tr>
</table>
<!-- pagination -->
<br><br>
<pagination-controls style="text-align: center;" (pageChange)="p= $event"></pagination-controls>


