<div class="wrapper">
    <div class="alert alert-success alert-dismissible" *ngIf="notify">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> {{ msg }}!
    </div>
    <button class="button-add-smn" data-toggle="modal" data-target="#createCateModal"><span><i class="fas fa-hand-holding-medical"></i> New Category</span></button>
    <h1 class="title">Category Management</h1>
    <table class="table table-hover">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Lectures</th>
            <th>Option</th>
        </tr>
        <tr *ngFor="let cate of cates">
          <td>{{ cate.id }}</td>
          <td>{{ cate.name }}&nbsp;<button  class="cate btn"  (click)="setModalData(cate.id,cate.name)" data-toggle="modal" data-target="#renameCateModal"><i class="fas fa-pen"></i></button></td>
          <td>({{ cate.total_lectures }})</td>
          <td><i (click)="deleteCate(cate.id,cate.name,cate.total_lectures)" class="fas fa-trash-alt trash-icon"></i></td>
        </tr>
    </table>
</div>

<!-- renaming category modal -->
<div class="modal fade" id="renameCateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="exampleModalLabel">Category Renaming</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeModal>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">New Name:</label>
                        <input type="text" class="form-control" ngModel [(ngModel)]="cateName" id="recipient-name" required>
                      </div>
                    <div class="right-w3l">
                        <button type="submit" class="btn btn-primary" (click)="saveNewCateName()" >Save</button>
                        <div class="loader" *ngIf="loading"></div>
                    </div>
            </div>
        </div>
    </div>
  </div>
<!-- create new cate -->
  <div class="modal fade" id="createCateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="exampleModalLabel">New Category</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeCreateModal>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Category Name:</label>
                        <input type="text" class="form-control" ngModel [(ngModel)]="newCateName" id="recipient-name" required>
                      </div>
                    <div class="right-w3l">
                        <button type="submit" class="btn btn-primary" (click)="createCate()" >Create</button>
                        <div class="loader" *ngIf="loading"></div>
                    </div>
            </div>
        </div>
    </div>
  </div>
