<section id="inner-title" class="inner-title">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-6"><h2>About us</h2></div>
        <div class="col-md-6 col-lg-6">
          <div class="breadcrumbs">
            <ul>
              <li>Current Page:</li>
              <li><a href="index.html">Home</a></li>
              <li><a href="">About us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section> 
  <section id="section18" class="section-margine">
    <div class="container">
    <div class="section18">
      <div class="row">
        <div class="col-md-8 col-lg-8 wow fadeInUp">
          <div class="textcont">
            <h3>Medical Stories</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            <h4>Back in 1997</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
          </div>  
        </div>
        <div class="col-md-4 col-lg-4 wow fadeInUp" data-wow-delay=".2s">
          <div class="section-18-img">
            <img src="assets/images/a0.jpg"  class="img-responsive" alt=""/>
          </div>
        </div>
      </div>
      <div class="row mission-vision">
        <div class="col-sm-6 col-md-6 wow fadeInUp" data-wow-delay=".3s">
          <figure>
            <img src="assets/images/a2.jpg"  class="img-responsive" alt=""/>
          </figure>
          <h4>Mediacal Mission</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        </div>
        <div class="col-sm-6 col-md-6 wow fadeInUp" data-wow-delay=".4s">
          <figure>
            <img src="assets/images/a1.jpg"  class="img-responsive" alt=""/>
          </figure>
          <h4>Mediacal Vision</h4>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
        </div>
      </div>
    </div>  
    </div>
  </section>
  <section  id="section5" class="section-5 section-margine">
    <div class="container">
      <div class="row my-team">
        <div class="col-md-12">
          <header class="title-head">
            <h2>Awesome Doctors Team</h2>
            <p>Using many font styles canslow down your webpage, so only select the font styles that you</p>
            <div class="line-heading">
              <span class="line-left"></span>
              <span class="line-middle">+</span>
              <span class="line-right"></span>
            </div>
          </header>
        </div>
        <div class="col-md-3 col-sm-6 my-team-member wow fadeInUp">
          <div class="my-member-img">
            <img src="assets/images/team/1.jpg" class="img-responsive" alt="team01">
          </div>
          <div class="my-team-detail text-center">
            <h4 class="my-member-name">Turanga Parker</h4>
            <p class="my-member-post">Director</p>
            <div class="my-member-social">
              <ul>
                <li><a href="#" target="_blank"><i class="fa fa-envelope"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 my-team-member wow fadeInUp" data-wow-delay=".2s">
          <div class="my-member-img">
            <img src="assets/images/team/2.jpg" class="img-responsive" alt="team02">
          </div>
          <div class="my-team-detail text-center">
            <h4 class="my-member-name">Mariya Rayan</h4>
            <p class="my-member-post">Manager</p>
            <div class="my-member-social">
              <ul>
                <li><a href="#" target="_blank"><i class="fa fa-envelope"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 my-team-member wow fadeInUp" data-wow-delay=".3s">
          <div class="my-member-img">
            <img src="assets/images/team/3.jpg" class="img-responsive" alt="team03">
          </div>
          <div class="my-team-detail text-center">
            <h4 class="my-member-name">Jerry Hu</h4>
            <p class="my-member-post">Sales Manager</p>
            <div class="my-member-social">
              <ul>
                <li><a href="#" target="_blank"><i class="fa fa-envelope"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 my-team-member wow fadeInUp" data-wow-delay=".2s">
          <div class="my-member-img">
            <img src="assets/images/team/4.jpg" class="img-responsive" alt="team04">
          </div>
          <div class="my-team-detail text-center">
            <h4 class="my-member-name">Sara Rayan</h4>
            <p class="my-member-post">Support</p>
            <div class="my-member-social">
              <ul>
                <li><a href="#" target="_blank"><i class="fa fa-envelope"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="section14" class="section-margine">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <header class="title-head">
            <h2>Reent Post</h2>
            <p>Using many font styles canslow down your webpage, so only select the font styles that you</p>
            <div class="line-heading">
              <span class="line-left"></span>
              <span class="line-middle">+</span>
              <span class="line-right"></span>
            </div>
          </header>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-lg-4">
          <div class="section-14-box wow fadeInUp">
            <img src="assets/images/blog/blog-1.jpg" class="img-responsive" alt="Blog image 1">
            <h3><a href="#">New Cancer Treatment</a></h3>
            <div class="row">
              <div class="col-md-12 col-lg-12">
                <div class="comments">
                  <a class="btn btn-primary btn-sm">July, 30, 30</a>
                  <a href="#" class="btn btn-primary btn-sm">rkwebdes</a>
                </div>
              </div>
            </div>
            <p>Laoreet eleifend condimentum urna odio inceptos bibendum curae imperdiet laoreet nunc tellus, class ultricies vivamus primis.</p>
          </div>
        </div>
        <div class="col-md-4 col-lg-4">
          <div class="section-14-box wow fadeInUp" data-wow-delay=".2s">
            <h3><a href="#">Surgery Advices</a></h3>
            <div class="row">
              <div class="col-lg-12">
                <div class="comments">
                  <a class="btn btn-primary btn-sm">July, 30, 30</a>
                  <a href="#" class="btn btn-primary btn-sm">rkwebdes</a>
                </div>
              </div>
            </div>
            <p>Laoreet eleifend condimentum urna odio inceptos bibendum curae imperdiet laoreet nunc tellus, class ultricies vivamus primis.</p>
            <img src="assets/images/blog/blog-2.jpg" class="img-responsive" alt="Blog image 1">
          </div>
        </div>
        <div class="col-md-4 col-lg-4">
          <div class="section-14-box wow fadeInUp" data-wow-delay=".3s">
            <img src="assets/images/blog/blog-3.jpg" class="img-responsive" alt="Blog image 1">
            <h3><a href="#">Medicine Sale Market</a></h3>
            <div class="row">
              <div class="col-md-12 col-lg-12">
                <div class="comments">
                  <a class="btn btn-primary btn-sm">July, 30, 30</a>
                  <a href="#" class="btn btn-primary btn-sm">rkwebdes</a>
                </div>
              </div>
            </div>
            <p>Laoreet eleifend condimentum urna odio inceptos bibendum curae imperdiet laoreet nunc tellus, class ultricies vivamus primis.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="section9" class="section-margine section-9-background">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-sm-4 col-xs-6"><img src="assets/images/clients/1.png" class="img-responsive wow fadeInUp" alt=""></div>
        <div class="col-md-2 col-sm-4 col-xs-6"><img src="assets/images/clients/2.png" class="img-responsive wow fadeInUp" alt=""></div>
        <div class="col-md-2 col-sm-4 col-xs-6"><img src="assets/images/clients/3.png" class="img-responsive wow fadeInUp" alt=""></div>
        <div class="col-md-2 col-sm-4 col-xs-6"><img src="assets/images/clients/4.png" class="img-responsive wow fadeInUp" alt=""></div>
        <div class="col-md-2 col-sm-4 col-xs-6"><img src="assets/images/clients/5.png" class="img-responsive wow fadeInUp" alt=""></div>
        <div class="col-md-2 col-sm-4 col-xs-6"><img src="assets/images/clients/6.png" class="img-responsive wow fadeInUp" alt=""></div>
      </div>
    </div>
  </section>
  