<header id="header" class="head">
    <div class="top-header">
       <div class="container">
         <div class="row ">
           <ul class="contact-detail2 col-md-6 pull-left">
             <li> <a href="#" target="_blank"><i class="fa fa-mobile"></i>Call US + 1 (1800) 459 123 7</a> </li>
             <li> <a href="#" target="_blank"><i class="fa fa-envelope-o"></i> example@gmail.com</a> </li>
           </ul>
           <div class="social-links col-md-6 pull-right">
             <ul class="social-icons pull-right">
               <li> <a href="http://facebook.com" target="_blank"><i class="fa fa-facebook"></i></a> </li>
               <li> <a href="http://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a> </li>
               <li> <a href="http://pinterest.com" target="_blank"><i class="fa fa-pinterest"></i></a> </li>
               <li> <a href="http://dribble.com/" target="_blank"><i class="fa fa-skype"></i></a> </li>
               <li> <a href="http://pinterest.com" target="_blank"><i class="fa fa-dribbble"></i></a> </li>
               
             </ul>
           </div>
         </div>
       </div>
      </div>
      <nav class="navbar navbar-expand-lg navbar-default navbar-menu">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> 
              <span class="sr-only">Toggle navigation</span> 
              <span class="icon-bar"></span> 
              <span class="icon-bar"></span> 
              <span class="icon-bar"></span> 
            </button>
            <a class="navbar-brand" [routerLink]="['/home']">
              <div class="logo-text"><span><samp>🅲</samp>𝙲̷𝙻̷𝙸̷</span>𝙽̷𝙸̷𝙲̷</div>
              <!-- <img src="assets//logo.png" alt="logo"> -->
            </a> 
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" data-hover="dropdown" data-animations="fadeIn">
            <ul class="nav navbar-nav navbar-right">
              <li class="nav-item active"><a class="nav-link" [routerLink]="['/home']">Home</a></li>
              <li class="nav-item"><a class="nav-link" [routerLink]="['/aboutus']" class="format">About us </a></li>
              <li class="nav-item"><a  class="nav-link" [routerLink]="['/service']">Services </a></li>
              <li class="nav-item"> <a href="#"  data-toggle="dropdown" role="button" aria-expanded="false">Blog <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" [routerLink]="['/bloglist']">Blog Listing</a></li>
                  <li><a class="dropdown-item" [routerLink]="['/blogdetail']">Blog Details</a></li>
                </ul>
              </li>
              <li class="nav-item"> <a href="#"  data-toggle="dropdown" role="button" aria-expanded="false">App <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a class="dropdown-item" [routerLink]="['/scientific']">Scientific Application</a></li>
                  <li><a class="dropdown-item" [routerLink]="['/medical']">Medical Application</a></li>
                  <li><a class="dropdown-item" [routerLink]="['/education']">Education Application</a></li>
                  <li><a class="dropdown-item" [routerLink]="['/business']">Business Application</a></li>
                </ul>
              </li>
              <li class="nav-item"><a class="nav-link" [routerLink]="['/contactus']">Contact Us</a></li>
  
              <li class="nav-item">
                  <div *ngIf="!isAuthenticated()">
                      <button type="button" class="btn btn-primary" data-toggle="modal" aria-pressed="false" data-target="#exampleModal">
                       Login
                    </button>
                  </div>
                  <div *ngIf="isAuthenticated()">
                      <p>Hi! <b>{{ username }}</b></p>
                      <button (click)="logOut()" class="btn btn-danger">Logout</button>
                  </div>
              </li> 
             
            </ul>
          </div>
          <!--/.nav-collapse --> 
        </div>
      </nav>
  </header>
  
    <!--/body --> 
  <router-outlet></router-outlet>
  
    <!--/end body --> 
      <!--/.footer --> 
  <section id="footer-top" class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-lg-3">
          <div class="footer-top-box">
            <h4>About Us</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
          </div>
          <div class="footer-top-box">
            <h4>Office Hour</h4>
            <b>Mon-Fri :</b> 09am to 06pm<br/>
            <b>Tues-Wed :</b> Special Appointment
          </div>
        </div>
        <div class="col-md-3 col-lg-3">
          <div class="footer-top-box">
            <h4>Latest Posts</h4>
            <ul>
              <li>
                <div class="recent-post-widget">
                  <a href="#" class="widget-img-thumb">
                    <img src="assets/images/post-1.jpg" class="img-responsive">
                  </a>
                  <div class="widget-content">
                    <h5><a href="#" class="sidebar-item-title">Enterprise Video Solutions</a></h5>
                    <a href="#">
                      <p class="widget-date">Posted: 3 day ago</p>
                    </a>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </li>
              <li>
                <div class="recent-post-widget">
                  <a href="#" class="widget-img-thumb">
                    <img src="assets/images/post-2.jpg" class="img-responsive">
                  </a>
                  <div class="widget-content">
                    <h5><a href="#" class="sidebar-item-title">Medical Instruments</a></h5>
                    <a href="#">
                      <p class="widget-date">Posted: 6 month ago</p>
                    </a>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-lg-3">
          <div class="footer-top-box">
            <h4>Tags</h4>
            <div class="tag"><a href="#">Acupuncture</a></div>
            <div class="tag"><a href="#">Mammography</a></div>
            <div class="tag"><a href="#">Neonatology</a></div>
            <div class="tag"><a href="#">Diabetes Education</a></div>
            <div class="tag"><a href="#">Geriatrics</a></div>
            <div class="tag"><a href="#">Kidneys</a></div>
          </div>
        </div>
        <div class="col-md-3 col-lg-3">
          <div class="footer-top-box">
            <h4>Contact us</h4>
            <p><b>Location : 42/2</b> New road, KTM<br/>
              <b>Mob: </b> +9849494875<br/>
              <b>Mail: </b> rkwebdesignsinfo@gmail.com </p>
          </div>
          <div class="footer-top-box">
            <h4>Subscribe</h4>
            <div class="cs-form">
              <form action="#" method="post">
                <div class="input-holder">
                  <input type="email" placeholder="Enter Valid Email Address">
                  <label> <i class="fa fa-location-arrow fa-2x"></i>
                    <input class="submit-bgcolor" type="submit" value="submit">
                  </label>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="footer-bottom" class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-lg-9">
          <div class="copyright">Copyright &copy; 2016. All Rights Reserved</div>
        </div>
        <div class="col-lg-3">
          <ul class="list-inline social-buttons">
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  
  <!-- login  -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeModal>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form  (ngSubmit)="login(loginForm)" #loginForm="ngForm">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Username</label>
                        <input type="text" class="form-control" ngModel   #un="ngModel" name="username" id="recipient-name" required>
                        <span  class="login-invalid" *ngIf="un.touched && un.errors?.required">Username is required</span>
                      </div>
                    <div class="form-group">
                        <label for="password" class="col-form-label">Password</label>
                        <input type="password" class="form-control" ngModel  #pw="ngModel" name="password" id="password" required>
                        <span class="login-invalid" *ngIf="pw.touched && pw.errors?.required">Password is required</span>
                      </div>
                      <span class="login-invalid" *ngIf="isInValid">Invalid login</span>
                    <div class="right-w3l">
                        <input type="submit" class="form-control" value="Login">
                    </div>
                    <br>
                    <div class="row sub-w3l my-3">
                      
                        <div class="col forgot-w3l text-center">
                            <a href="#" data-toggle="modal" data-target="#forgotPwModal" class="text-dark font-weight-bold ">
                                Forgot Password?</a>
                        </div>
                    </div>
                    <p class="text-center dont-do">Don't have an account?
                        <a href="#" data-toggle="modal" data-target="#exampleModalCenter2" class="text-dark font-weight-bold ">
                            Register Now</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
  </div>
  <!-- //login -->
 
  <!-- forgot passowrd -->
  <div class="modal fade" id="forgotPwModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Forgot Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeForgotModal>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form  (ngSubmit)="sentEmailCode(forgotForm)" #forgotForm="ngForm">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Username:</label>
                        <input type="text" class="form-control" ngModel   #fun="ngModel" name="username" id="recipient-name" required >
                        <div class="loader" *ngIf="loading"></div>
                        <span  class="invalid" *ngIf="fun.touched && fun.errors?.required">Username is required</span>
                        <span  class="text-success" *ngIf="checkUsernameSuccess">{{ msgSentMail }}</span>
                        <span  class="invalid" *ngIf="checkUsernameFailure">Username dosen't exist</span>
                      </div>               
                    <div class="right-w3l">
                       <button class="btn btn-success" [disabled]="!enableBtnSentMail" data-toggle="modal" data-target="#verifyModal">Sent Code</button>
                    </div>
                </form>
                <button class="btn btn-secondary" (click)="checkUsername(fun)">Check</button>
            </div>
        </div>
    </div>
  </div>
  <!-- end forgot passowrd -->

  <!-- forgot vefiry passowrd -->
  <div class="modal fade" id="verifyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Verification</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeResetPasswordModal>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form  (ngSubmit)="verify(verifyForm)" #verifyForm="ngForm">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Enter your verify code here:</label>
                        <div id="verify-form">
                          <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" name="num1" ngModel />
                          <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" name="num2" ngModel />
                          <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" name="num3" ngModel />
                          <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" name="num4" ngModel />
                          <p *ngIf="verifyFailureNotify" class="text-danger">Wrong code. Try again !</p>
                          <p *ngIf="verifySuccessNotify" class="text-success">Done !</p>
                          <button class="btn btn-primary btn-embossed">Verify</button>
                        </div>
                      </div>               
                </form>
                <div *ngIf="isDisplayResetPwForm">
                  <form  (ngSubmit)="updateNewPw(newPwForm)" #newPwForm="ngForm">
                    <div class="form-group">
                      <label class="mb-2 col-form-label">New-Password</label>
                      <input type="password" class="form-control" id="password1" name="password" ngModel #npw="ngModel" required minlength="5">
                      <span class="invalid"   *ngIf="npw.touched && npw.errors?.required">New-Password is required</span>
                      <br>
                      <span class="invalid" *ngIf="npw.touched && npw.errors?.minlength">Password length must be than 5 characters</span>
                    </div>
                  <div class="form-group">
                      <label class="col-form-label">Confirm Password</label>
                      <input type="password" class="form-control" id="password2" name="repassword" ngModel #cpw="ngModel" required >
                      <span class="invalid"   *ngIf="cpw.touched && cpw.errors?.required">Password is required</span>
                      <br>
                      <span class="invalid" *ngIf="cpw.touched && cpw.value != npw.value ">Confirm password was mismatch</span>
                    </div>
                  <div class="reg-w3l">
                    <button type="submit" class="form-control submit mb-4" [disabled]="newPwForm.invalid">Reset</button>
                    <div class="loader" *ngIf="loading"></div>
                 </div>  
                </form>
                </div>
              
            </div>
        </div>
    </div>
  </div>
  <!-- end vefiry passowrd -->


  <!--/Register-->
  <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="login px-4 mx-auto mw-100">
                    <h5 class="modal-title text-center text-dark mb-4">REGISTER NOW</h5>
                    <form  method="post" (ngSubmit)="register(registerForm)" #registerForm="ngForm">
                        <div class="form-group">
                            <label class="col-form-label">Full Name</label>
                            <input type="text" class="form-control" id="validationDefault01" name="fullname" ngModel #fn="ngModel" required>
                            <span *ngIf="fn.touched && fn.errors?.required" class="invalid">Full name is required</span>
                          </div>
                        <div class="form-group">
                          <label class="col-form-label">Phone Number</label>
                          <input type="text" class="form-control" id="validationDefault01" name="phone" ngModel #pn="ngModel" required>
                          <span *ngIf="pn.touched && pn.errors?.required" class="invalid">Phone number is required</span>
                        </div>
                      <div class="form-group">
                        <label class="col-form-label">Email:</label>
                        <input type="text" class="form-control" id="validationDefault01" name="email" ngModel #em="ngModel" required email>
                        <span class="invalid"  *ngIf="em.touched && em.errors?.required">Email is required</span>
                        <br>
                        <span class="invalid"  *ngIf="em.touched && em.errors?.email">Email format is incorrect</span>                    
                       </div>
                        <div class="form-group">
                            <label class="col-form-label">Username</label>
                            <input type="text" class="form-control" id="validationDefault02" name="username" ngModel #rgun="ngModel" required>
                            <span class="invalid"   *ngIf="rgun.touched && rgun.errors?.required">Username is required</span>
                            <br>
                            <span class="invalid" *ngIf="usernameExist">Username is already exist</span>
                          </div>
  
                        <div class="form-group">
                            <label class="mb-2 col-form-label">Password</label>
                            <input type="password" class="form-control" id="password1" name="password" ngModel #rgpw="ngModel" required minlength="5">
                            <span class="invalid"   *ngIf="rgpw.touched && rgpw.errors?.required">Password is required</span>
                            <br>
                            <span class="invalid" *ngIf="rgpw.touched && rgpw.errors?.minlength">Password length must be than 5 characters</span>
                          </div>
                        <div class="form-group">
                            <label class="col-form-label">Confirm Password</label>
                            <input type="password" class="form-control" id="password2" name="repassword" ngModel #rgrpw="ngModel" required >
                            <span class="invalid"   *ngIf="rgrpw.touched && rgrpw.errors?.required">Password is required</span>
                            <br>
                            <span class="invalid" *ngIf="rgrpw.touched && rgpw.value != rgrpw.value ">Confirm password was mismatch</span>
                          </div>
                        <div class="reg-w3l">
                          <button type="submit" class="form-control submit mb-4" [disabled]="registerForm.invalid">Register</button>
                       </div>
                       <div class="loader" *ngIf="loading"></div>
                       <span *ngIf="registerSuccessNotify" class="text-success">Register successfully !</span>
                       <span *ngIf="registerFailureNotify" class="text-danger">Some wrong was occur. Try again !</span>

                    </form>
  
                </div>
            </div>
  
        </div>
    </div>
  </div>
  <!--//Register-->
  
  
  
  